/*Login page styles*/
html,body,#root{
  height:100%;
  background:#f0f2f5;
}

.loginPage{
  width:70%;
  margin: 10% auto;
  display:flex;
  flex-wrap:wrap;
}

.AppHeader{
  width:100%;
}

.AppHeader img{
  height: 70px;
}

.RecentLogins{
  width:50%;
  margin-left: 2%;
}

.loginDetails{
  width:48%;
}

.loginDetails form{
  width:80%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  background : #fff;
  padding: 2%;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.loginDetails input{
  width: 80%;
  padding:3%;
  margin:2%;
}

.loginDetails input[type="submit"]{
  cursor:pointer;
  background:#1877f2;
  color:#fff;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 4%;
}
